{% raw %}{% extends 'base.html' %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
  <div class="container">
    <h3 class="mb-3">Supprimer <strong>{{ cookiecutter.app_name }}</strong></h3>
    <div class="row">
      <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
      <form method="post">
        {% raw %}{% csrf_token %}{% endraw %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        {% raw %}<a href="{% url '{{ cookiecutter.app_name }}_list' %}" class="btn btn-secondary">Annuler</a>{% endraw %}
      </form>
    </div>
  </div>
  {% raw %}{% endblock %}{% endraw %}
