{% raw %}{% extends 'base.html' %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
  <div class="container">
    {% raw %}<h3 class="mb-3">Liste des {{ cookiecutter.app_name_plural }}</h3>{% endraw %}
    <div class="row">
      {% raw %}{% for {{ cookiecutter.app_name_singular }} in object_list %}{% endraw %}
        <div class="card mb-3">
          <div class="card-body">
            {% raw %}<h5 class="card-title">{{ {{ cookiecutter.app_name_singular }}.name }}</h5>{% endraw %}
            {% raw %}<p class="card-text">{{ {{ cookiecutter.app_name_singular }}.description }}</p>{% endraw %}
            <!-- Affichez d'autres attributs du modèle selon vos besoins -->
          </div>
        </div>
      {% empty %}
      {% raw %}<p>Aucun {{ cookiecutter.app_name_singular }} trouvé.</p>{% endraw %}
      {% endfor %}
    </div>
  </div>
  {% raw %}{% endblock %}{% endraw %}
